.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

@primary-1-color: @indigo-500;
@primary-2-color: @indigo-700;
@primary-3-color: @indigo-100;
@accent-1-color: @orange-A200;
@accent-2-color: @orange-A400;
@accent-3-color: @orange-A100;
